// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_user {
	#user_email {
		border-color: white;
		background-color: white;
		color: black;
	}

	#user_contact_number {
		border-color: white;
		background-color: white;
		color: black;
		line-height: 1em;
		border: solid 1px rgba(124, 128, 129, 0.2);
		transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		display: block;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
    outline: 0;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}

    .error {
        border: 1px solid red !important;
        box-shadow: 2px 2px 1px #888888;
    }

    #error-message{
        font-size: smaller;
        color: salmon;
    }
}

#signup_email_label{
	display: inline-block;
	float: left;
	font-size: smaller;
}

.featured-icon-box{
    border: 1px solid cornsilk;
    border-radius: 5px;
    background-color: red;
    
    @media (min-width: 840px){ 
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    @media (max-width: 840px) and (min-width: 436px){
        min-width: 190px;
        padding: 10px;
        margin-left: 100px;
        margin-right: 100px;
    }
    @media (max-width: 435px){
        min-width: 190px;
        padding: 10px;
    }
}

.money-icon{
	color: #338A27;
}

.gamepad-icon{
	color: #CE4850;
}

.users-icon{
	color: #5355FF
}

.alert {
    animation: alert 1s ease forwards;
    background-color: #c4453c;
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
}

.notice {
    animation: alert 1s ease forwards;
    background-color: green;
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
}

@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}